# API base URL
NOGIFES_API_BASE_URL=https://v1api.nogifes.jp

# Static resource base URL
NOGIFES_STATIC_BASE_URL=https://v1static.nogifes.jp

# Download root path
# Linux/macOS example:
# NOGIFES_DOWNLOAD_ROOT=/mnt/data/downloads/nogifes
# Windows example:
# NOGIFES_DOWNLOAD_ROOT=D:/Downloads/nogifes
